@font-face {
  font-family: 'cmsi';
  src:  url('fonts/cmsi.eot?huqfyc');
  src:  url('fonts/cmsi.eot?huqfyc#iefix') format('embedded-opentype'),
    url('fonts/cmsi.ttf?huqfyc') format('truetype'),
    url('fonts/cmsi.woff?huqfyc') format('woff'),
    url('fonts/cmsi.svg?huqfyc#cmsi') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cmsi-"], [class*=" cmsi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cmsi' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cmsi-arrow-curved-up-2:before {
  content: "\e941";
}
.cmsi-arrow-curved-up-3:before {
  content: "\e942";
}
.cmsi-arrow-curved-up:before {
  content: "\e983";
}
.cmsi-arrow-drawn-left:before {
  content: "\e984";
}
.cmsi-arrow-drawn-right:before {
  content: "\e985";
}
.cmsi-arrow-scribble:before {
  content: "\e986";
}
.cmsi-arrow-semicircular-up:before {
  content: "\e987";
}
.cmsi-home:before {
  content: "\e977";
}
.cmsi-heart-alt:before {
  content: "\e975";
}
.cmsi-heart:before {
  content: "\e976";
}
.cmsi-double-quotes-circle:before {
  content: "\e988";
}
.cmsi-double-quotes-square-rounded-up:before {
  content: "\e97b";
}
.cmsi-double-quotes-square-rounded:before {
  content: "\e989";
}
.cmsi-quotation-marks:before {
  content: "\e957";
}
.cmsi-quote-square:before {
  content: "\e974";
}
.cmsi-left-quote:before {
  content: "\e973";
}
.cmsi-quote-left:before {
  content: "\e981";
}
.cmsi-quote-right:before {
  content: "\e982";
}
.cmsi-external-link:before {
  content: "\e971";
}
.cmsi-ellipsis-h:before {
  content: "\e970";
}
.cmsi-comment-alt1:before {
  content: "\e968";
}
.cmsi-comment-dots1:before {
  content: "\e969";
}
.cmsi-comment1:before {
  content: "\e96a";
}
.cmsi-comments1:before {
  content: "\e96b";
}
.cmsi-comment-alt:before {
  content: "\e96c";
}
.cmsi-comment-dots:before {
  content: "\e96d";
}
.cmsi-comment:before {
  content: "\e96e";
}
.cmsi-comments:before {
  content: "\e96f";
}
.cmsi-user-3:before {
  content: "\e97e";
}
.cmsi-user1:before {
  content: "\e966";
}
.cmsi-user:before {
  content: "\e967";
}
.cmsi-folder1:before {
  content: "\e962";
}
.cmsi-folder-open1:before {
  content: "\e963";
}
.cmsi-folder-open:before {
  content: "\e964";
}
.cmsi-folder:before {
  content: "\e965";
}
.cmsi-arrow-circle-alt-left:before {
  content: "\e960";
}
.cmsi-plus-circle-01:before {
  content: "\e961";
}
.cmsi-alert:before {
  content: "\e901";
}
.cmsi-sidenav:before {
  content: "\e97a";
}
.cmsi-arrow-up-2:before {
  content: "\e979";
}
.cmsi-arrow-alt-circle-down:before {
  content: "\e902";
}
.cmsi-arrow-alt-circle-left:before {
  content: "\e903";
}
.cmsi-arrow-alt-circle-right:before {
  content: "\e904";
}
.cmsi-arrow-alt-circle-up:before {
  content: "\e905";
}
.cmsi-arrow-circle-down:before {
  content: "\e906";
}
.cmsi-arrow-circle-left:before {
  content: "\e907";
}
.cmsi-arrow-circle-right:before {
  content: "\e908";
}
.cmsi-arrow-circle-up:before {
  content: "\e909";
}
.cmsi-arrow-circle-up-large:before {
  content: "\e95c";
}
.cmsi-arrow-circle-down-large:before {
  content: "\e95d";
}
.cmsi-arrow-circle-left-large:before {
  content: "\e95e";
}
.cmsi-arrow-circle-right-large:before {
  content: "\e95f";
}
.cmsi-arrow-down:before {
  content: "\e90a";
}
.cmsi-arrow-up:before {
  content: "\e90b";
}
.cmsi-arrow-left:before {
  content: "\e90c";
}
.cmsi-arrow-right:before {
  content: "\e90d";
}
.cmsi-arrow-long-down:before {
  content: "\e90e";
}
.cmsi-arrow-long-left:before {
  content: "\e90f";
}
.cmsi-arrow-long-right:before {
  content: "\e910";
}
.cmsi-arrow-long-up:before {
  content: "\e911";
}
.cmsi-long-arrow-up:before {
  content: "\e912";
}
.cmsi-long-arrow-down:before {
  content: "\e913";
}
.cmsi-long-arrow-left:before {
  content: "\e914";
}
.cmsi-arrow-prev:before {
  content: "\e959";
}
.cmsi-arrow-next:before {
  content: "\e95a";
}
.cmsi-check:before {
  content: "\e915";
}
.cmsi-long-arrow-right:before {
  content: "\e916";
}
.cmsi-check-circle:before {
  content: "\e917";
}
.cmsi-check-circle-2:before {
  content: "\e978";
}
.cmsi-check-alt-circle:before {
  content: "\e918";
}
.cmsi-chevron-circle-down:before {
  content: "\e919";
}
.cmsi-chevron-circle-left:before {
  content: "\e91a";
}
.cmsi-chevron-circle-right:before {
  content: "\e91b";
}
.cmsi-chevron-circle-up:before {
  content: "\e91c";
}
.cmsi-chevron-down:before {
  content: "\e91d";
}
.cmsi-chevron-left:before {
  content: "\e91e";
}
.cmsi-chevron-right:before {
  content: "\e91f";
}
.cmsi-chevron-up:before {
  content: "\e920";
}
.cmsi-calendar:before {
  content: "\e97f";
}
.cmsi-clock:before {
  content: "\e921";
}
.cmsi-download:before {
  content: "\e922";
}
.cmsi-email:before {
  content: "\e923";
}
.cmsi-facebook-circle-alt:before {
  content: "\e924";
}
.cmsi-facebook-f:before {
  content: "\e925";
}
.cmsi-facebook-messenger:before {
  content: "\e926";
}
.cmsi-facebook-square:before {
  content: "\e927";
}
.cmsi-facebook:before {
  content: "\e928";
}
.cmsi-twitter-circle:before {
  content: "\e929";
}
.cmsi-twitter-square:before {
  content: "\e92a";
}
.cmsi-twitter:before {
  content: "\e92b";
}
.cmsi-instagram-square:before {
  content: "\e92c";
}
.cmsi-instagram:before {
  content: "\e92d";
}
.cmsi-linkedin-circle:before {
  content: "\e92e";
}
.cmsi-linkedin-in:before {
  content: "\e92f";
}
.cmsi-linkedin:before {
  content: "\e930";
}
.cmsi-pinterest-p:before {
  content: "\e931";
}
.cmsi-pinterest-square:before {
  content: "\e932";
}
.cmsi-pinterest:before {
  content: "\e935";
}
.cmsi-youtube:before {
  content: "\e933";
}
.cmsi-map-marker:before {
  content: "\e934";
}
.cmsi-phone-ring:before {
  content: "\e98a";
}
.cmsi-phone-line:before {
  content: "\e98b";
}
.cmsi-phone-alt:before {
  content: "\e98c";
}
.cmsi-phone-alt-2:before {
  content: "\e936";
}
.cmsi-phone:before {
  content: "\e937";
}
.cmsi-play-circle:before {
  content: "\e938";
}
.cmsi-play:before {
  content: "\e939";
}
.cmsi-plus:before {
  content: "\e93a";
}
.cmsi-plus-circle:before {
  content: "\e93b";
}
.cmsi-minus:before {
  content: "\e900";
}
.cmsi-minus-circle:before {
  content: "\e93c";
}
.cmsi-remove-circle:before {
  content: "\e93d";
}
.cmsi-remove:before {
  content: "\e93e";
}
.cmsi-search3:before {
  content: "\e93f";
}
.cmsi-search2:before {
  content: "\e98d";
}
.cmsi-search1:before {
  content: "\e98f";
}
.cmsi-search:before {
  content: "\e98e";
}
.cmsi-shadow:before {
  content: "\e940";
}
.cmsi-shopping-cart-3:before {
  content: "\e990";
}
.cmsi-shopping-cart:before {
  content: "\e991";
}
.cmsi-shopping-cart-arrow-right:before {
  content: "\e972";
}
.cmsi-shopping-cart-arrow-down:before {
  content: "\e943";
}
.cmsi-shopping-cart-plus:before {
  content: "\e944";
}
.cmsi-shopping-cart-2:before {
  content: "\e945";
}
.cmsi-sign-in-alt:before {
  content: "\e946";
}
.cmsi-sign-out-alt:before {
  content: "\e947";
}
.cmsi-star-alt:before {
  content: "\e948";
}
.cmsi-star:before {
  content: "\e949";
}
.cmsi-pdf:before {
  content: "\e94a";
}
.cmsi-thumbtack:before {
  content: "\e94b";
}
.cmsi-apple:before {
  content: "\e980";
}
.cmsi-google-plus-g:before {
  content: "\e94c";
}
.cmsi-google-plus-square:before {
  content: "\e94d";
}
.cmsi-google-plus:before {
  content: "\e94e";
}
.cmsi-google:before {
  content: "\e94f";
}
.cmsi-rss-square:before {
  content: "\e950";
}
.cmsi-rss:before {
  content: "\e951";
}
.cmsi-skype:before {
  content: "\e952";
}
.cmsi-tumblr-square:before {
  content: "\e953";
}
.cmsi-tumblr:before {
  content: "\e954";
}
.cmsi-vimeo-square:before {
  content: "\e955";
}
.cmsi-vimeo-v:before {
  content: "\e956";
}
.cmsi-yelp:before {
  content: "\e958";
}
.cmsi-spinner:before {
  content: "\e95b";
}
